* {
  padding: 0;
  margin: 0;
}
body{
  line-height: 1 !important;
  font-size: 16px !important;
  font-family: "Microsoft Yahei" !important;
  color: #333333 !important;
}
ul li{
  list-style: none;
}

.cm_content{
  width: 100%;
  min-height: 725px;
  padding: 20px 0;
  background-color: #f6f6f6;
}
.cm_content .cm_main{
  padding: 0 30px;
  width: 1200px;
  min-height: 725px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 2px #f6f6f6;
}
.lf{
  float: left;
}
.rt{
  float: right;
}
/*hover文本变色*/
.link{
  cursor: pointer;
}
.link:hover{
  color: #1e85e9;
}
/* 单行超出隐藏 */
.f-otw{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 两行超出隐藏 */
.f-oh2 {
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* 清除浮动 */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}
